.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gas-station-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.logo {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  border: 2px solid #ccc;
}

.logo-name {
  margin-top: 5px;
}


/* Enhance MapComponentContainer if it's part of your global styles */
.MapComponentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Ensure some space around */
}

.MapComponent {
  max-width: 100%; /* Ensure responsiveness */
  border-radius: 20px; /* Smoothed corners */
  border: 5px solid deepskyblue; /* A more vibrant border color */
  overflow: hidden;
  box-shadow: 0 8px 10px rgba(0,0,0,0.2); /* Add shadow for depth */
}
