/* MapComponent.scss */

.Map-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#map {
  grid-column: span 2;
  height: 50%; /* Adjusted for responsiveness */
  width: 750px;
  max-width: 750px; /* Added max-width for responsiveness */
  border-radius: 50%;
  border: 5px solid blue;
  overflow: hidden;
  margin: auto;
}

.loading-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Updated styles for dropdowns */
.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dropdown-menus {
  grid-column: 1;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty {
  margin-top: 320px;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%; /* Adjusted width for responsiveness */
}

.dropdown-menus select {
  background-color: #3498db;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 80%; /* Adjusted width for responsiveness */
}

/* Stylish dropdown options */
.dropdown-menus select option {
  background-color: #f9f9f9;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

/* Change color of dropdown option on hover */
.dropdown-menus select option:hover {
  background-color: #3498db;
  color: white;
}

/* Remove default arrow for select box */
.dropdown-menus select::-ms-expand {
  display: none;
}

.dropdown-menus select::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menus select::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 4px;
}

.dropdown-menus select::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}


.empty-space {
  grid-column: 4;
  width: 25%;
}
