
  
  .welcome-page {
    display: flex;
    background-color:teal;
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100vh - 50px); /* Subtract the height of the top navigation bar */
  }
  
  
  @keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .container-gas{
    background-color:teal;
    flex: 1 1 auto;
    justify-content: space-around;
    padding-top: 6em;
  }
  
  .container-map{
    flex: 1 1 auto;
    justify-content: space-around;
    padding-top: 6em;
    &:hover {
      transform: scale(1.15);
    }
  }

  .container-fav{
    flex: 1 1 auto;
    padding-top: 6em;
    &:hover {
      transform: scale(1.15);
    }

  }

  
  @keyframes fadeInImage {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  